<!DOCTYPE html>
<html lang="en">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>eCommerce Product Detail</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link th:href="@{/css/book-details.css}" rel="stylesheet">
</head>

<body th:onload="'loadData('+ ${book.id}  +')'">
    <div th:replace="~{topnav}"></div>
    <div class="container path">
        <a th:href="@{/bookshop/bookshop}">Trang chủ</a>
        <a th:href="@{/bookshop/books/search-books?categoryId=0}">>Danh mục</a>
        <!-- <th:block> -->
        <a th:href="@{/bookshop/books/search-books(categoryId=${book.category.id})}"
            th:text="'>' + ${book.category.decription}"></a>
        <!-- </th:block> -->

    </div>
    <div class="container">
        <div class="card">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="preview col-md-4">

                        <div class="preview-pic tab-content">

                            <div th:if="${not #lists.isEmpty(book.bookImages)}" th:each="img : ${book.bookImages}"
                                th:class="${img.id == book.bookImages[0].id ? 'tab-pane active' : 'tab-pane'}" a
                                th:id="'pic-'+${img.id}">

                                <img th:src="${img.url}" style="max-width: 100%; max-height: 100%;" />

                            </div>
                        </div>
                        <ul class="preview-thumbnail nav nav-tabs">
                            <li th:if="${not #lists.isEmpty(book.bookImages)}" th:each="img : ${book.bookImages}"
                                th:class="${img.id == book.bookImages[0].id ? 'active' : ''}">
                                <a th:data-target="'#pic-'+${img.id}" data-toggle="tab">
                                    <!-- <div class="thumbnail-image"> -->
                                    <img class="img-info" th:src="${img.url}" />
                                    <!-- </div> -->
                                </a>
                            </li>

                        </ul>

                    </div>
                    <div class="details col-md-8">
                        <h3 class="product-title" th:text="${book.title}"></h3>
                        <div class="rating">
                            <div class="stars">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <span class="review-no" th:text=" ${#lists.size(comments)} + ' reviews'"></span>
                        </div>
                        <div class="rating">
                            <div class="book-label-no">
                                <span>Nhà xuất bản:
                                    <strong class="bold" th:text="${book.publisher}"></strong>
                                </span>
                            </div>
                            <div class="book-label-no">
                                <span>Nhà cung cấp:
                                    <strong class="bold" th:text="${book.supplier}"></strong>
                                </span>
                            </div>
                            <div class="book-label-no">
                                <span>Tác giả:
                                    <a th:href="@{/author}"><strong class="bold"
                                            th:text="${book.author.fullname}"></strong></a>
                                </span>
                            </div>
                            <div class="book-label-no">
                                <span>Hình thức bìa:
                                    <strong class="bold" th:text="${book.formality}"></strong>
                                </span>
                            </div>
                        </div>

                        <h4 class="price-text">current price: <span id="price" th:text="${book.price}"></span>
                        </h4>

                        <!-- <h4 class="price-text">current price: <span id="price"
                                th:text="${#numbers.formatDecimal(book.price, 0, 'COMMA', 0, 'POINT')} + 'đ'"></span>
                        </h4> -->
                        <div class="rating">
                            <label for="quantity">Số lượng sách:</label>
                            <input type="number" id="quantity" name="quantity" min="1" max="100" step="1" value="1"
                                class="orange-input">
                        </div>




                        <div class="action">
                            <th:block sec:authorize="isAuthenticated()">
                                <button id="add-to-cart-btn" class="add-to-cart btn btn-default" type="button"
                                    onclick="addToCart_author()">add to
                                    cart</button>
                            </th:block>
                            <th:block sec:authorize="not isAuthenticated()">
                                <button id="add-to-cart-btn" class="add-to-cart btn btn-default" type="button"
                                    onclick="addToCart()">add to
                                    cart</button>
                            </th:block>

                            <!-- <button class="like btn btn-default" type="button"><span
                                    class="fa fa-heart"></span></button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-book-info card">
            <div class="container-fliud">
                <div class="card-header">
                    <h5 class="book-title"><strong>THÔNG TIN SẢN PHẨM</strong></h5>
                </div>
                <div class="card-body">
                    <table class="table table-borderless">
                        <tbody>
                            <tr class="book-info-row">
                                <td class="book-label">Mã hàng</td>
                                <td class="book-value" id="id" th:text="${book.id}"></td>
                            </tr>
                            <tr class="book-info-row">
                                <td class="book-label">Tên sách</td>
                                <td class="book-value" id="title" th:text="${book.title}">Row 2, Column 2</td>
                            </tr>
                            <tr class="book-info-row">
                                <td class="book-label">Nhà xuất bản</td>
                                <td class="book-value" th:text="${book.publisher}">Row 2, Column 2</td>
                            </tr>
                            <tr class="book-info-row">
                                <td class="book-label">Năm xuất bản</td>
                                <td class="book-value" th:text="${book.publishYear}">Row 2, Column 2</td>
                            </tr>
                            <tr class="book-info-row">
                                <td class="book-label">Ngôn ngữ</td>
                                <td class="book-value" th:text="${book.language}">Row 2, Column 2</td>
                            </tr>
                            <tr>
                                <td class="book-label">Nhà cung cấp</td>
                                <td class="book-value" th:text="${book.supplier}">Row 2, Column 2</td>
                            </tr>
                            <tr class="book-info-row">
                                <td class="book-label">Khối lượng</td>
                                <td class="book-value" th:text="${book.weight}">Row 2, Column 2</td>
                            </tr>
                            <tr class="book-info-row">
                                <td class="book-label">Số trang</td>
                                <td class="book-value" th:text="${book.pageCount}">Row 2, Column 2</td>
                            </tr>
                            <tr class="book-info-row">
                                <td class="book-label">Hình thức</td>
                                <td class="book-value" th:text="${book.formality}">Row 2, Column 2</td>
                            </tr>
                            <tr class="book-info-row">
                                <td class="book-label">Độ tuổi</td>
                                <td class="book-value" th:text="${book.ageRange}">Row 2, Column 2</td>
                            </tr>
                            <tr class="book-info-row">
                                <td class="book-label">Kích thước</td>
                                <td class="book-value" th:text="${book.size}">Row 2, Column 2</td>
                            </tr>
                            <tr class="book-info-row">
                                <td class="book-label">Thể loại</td>
                                <td class="book-value"> <a
                                        th:href="@{/bookshop/books/search-books(categoryId=${book.category.id})}"
                                        th:text="${book.category.decription}"></a> </td>
                            </tr>
                            <tr class="book-info-row">
                                <td class="book-label">Tác giả</td>
                                <td class="book-value"> <a th:href="@{/author}" th:text="${book.author.fullname}"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <hr class="hr-line">
                    <p th:text="${book.decription}"></p>
                </div>
            </div>
        </div>
        <div class="card-book-info card">
            <div class=" container-fliud">
                <div class="card-header">
                    <h5 class="book-title"><strong>SẢN PHẨM CÙNG DANH MỤC</strong></h5>
                </div>
                <div id="booksByCategory">

                </div>

                <div class="card-header">
                    <h5 class="book-title"><strong>SẢN PHẨM CÙNG TÁC GIẢ</strong></h5>
                </div>
                <div id="booksByAuthor">

                </div>
                <div class="card-header">
                    <h5 class="book-title"><strong> Bình luận <span
                                th:text="'('+ ${#lists.size(comments)} + ')'"></span></strong>
                    </h5>
                </div>
                <div class="card-body">
                    <div th:if="${isPurchased == true}">
                        <div class="card-footer py-3 border-0" style="background-color: #ffff;">
                            <div class="d-flex flex-start w-100">
                                <img class="rounded-circle shadow-1-strong me-3"
                                    src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar"
                                    width="40" height="40" />
                                <div class="form-outline w-100">
                                    <textarea class="form-control" id="textAreaExample" rows="4"
                                        style="background: rgba(255, 255, 255, 0.852);"></textarea>
                                    <!-- <label class="form-label" for="textAreaExample">Message</label> -->
                                </div>
                            </div>
                            <div class="d-flex justify-content-end mt-2">
                                <button type="button" class="btn btn-primary btn-sm" onclick="postComment()">Post
                                    comment</button>
                                <button type="button" class="btn btn-outline-primary btn-sm">Cancel</button>
                            </div>
                        </div>
                    </div>

                    <div id="comment">
                        <div th:each="comment : ${comments}">
                            <hr />
                            <div class="row">
                                <div class="col-sm-3">
                                    <img src="https://cdn.chanhtuoi.com/uploads/2022/01/avatar-tet.jpg"
                                        style="height: 60px ; width: 60px; " class="img-rounded">
                                    <div class="review-block-name"><a href="#" th:text="${comment.user.fullName}"></a>
                                    </div>
                                    <div class="review-block-date">
                                        <span th:text="${comment.createdDate}">

                                            <!-- </span><br />1 day ago -->
                                    </div>
                                </div>
                                <div class="col-sm-9">

                                    <div class="review-block-description">
                                        <span th:text="${comment.content}"> </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
<!--  -->
<script th:src="@{/js/shoping-cart.js}"></script>
<script th:src="@{/js/book-details.js}"></script>
<script th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>


</html>