body {
    /* font-family: 'open sans'; */
    overflow-x: hidden;
    background-color: #f0f0f0;
}

.container {
    width: 85% !important;
    max-width: 100% !important;
}




.path {
    text-decoration: none;
    color: black;
}

.active {
    color: blue;
}

.back {
    color: red;
}