#mynav {
    background: linear-gradient(to right, #e88009, #eaa15c);
    padding-left: 15px;
    padding-right: 15px;
    height: 70px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logo {
    padding-left: 0px;
}

#login {
    padding-right: 0px;
}


#btnSearch {
    color: #fff;
    background-color: rgb(161, 11, 11);
}


#btnSearch :hover {
    background-color: rgb(240, 66, 66);
}