<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Books</title>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link th:href="@{/css/style.css}" rel="stylesheet">

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- <link th:href="@{/css/all.min.css}" rel="stylesheet"> -->
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <!-- <link th:href="@{/js/shoping-cart.js}" rel="stylesheet"> -->
    <meta charset="UTF-8">


</head>






<body>
    <!--navbar-->
    <div th:replace="~{topnav}"></div>


    <h5>Da dat hang thanh cong</h5>
    <a th:href="@{/bookshop}">Quay lai mua sap!</a>

</body>